.responsive-img {
  max-width: 100%;
  height: auto;
}
.header img {
  width: 100%;
}
.ui-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
.vertical-list {
  display: flex;
  flex-direction: column;
}
/* Estilo de la lista */
    .professional-list {
      list-style: none;
      padding: 10px;
      margin: 6px;
      border: 1px solid #FC0404;
      max-width: 400px;
      margin: 20px auto;      
      border-radius: 10px;  
      font-family: Arial, sans-serif;
      font-size: 16px;
      box-shadow: 0px 4px 8px rgba(2, 2, 2, 2.2);
    }

    .professional-list li {
      border: 1px solid #0028DC;
      border-bottom-width: 0px;
      border-bottom: 2px solid #0028DC;
      margin-bottom: 15px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center; /* Para centrar el contenido horizontalmente */ 
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      transition: transform 0.2s ease-in-out;
    }
    .professional-list li:not(:first-child) {
       margin-top: 10px; /* Agregar margen superior a todos los elementos li excepto al primero */
    }

    .professional-list li:last-child {
      border-bottom: none;
    }

    /* Estilos para los enlaces */
    .professional-list li a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      flex: 1; /* Para ocupar todo el espacio disponible y centrar el texto verticalmente */
      text-align: center; /* Para centrar el contenido horizontalmente */
    }

    .professional-list li a:hover {
      color: #007bff;
    }
    .titulo-gestion{
      text-align: center;
      align-items: center;
      color:#000000 ;
    }


/* Estilos para los botones <a> */
.btn-menu-salir {
  background-color: #EBEEFA; /* Fondo */
  color: #000000; /* Color de letra negro */
  text-decoration: none;
  padding: 12px 20px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra 3D */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transiciones para el efecto 3D */
}

/* Efecto 3D al pasar el cursor por encima */
.btn-menu-salir:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  transform: translateY(-2px); /* Efecto de elevación */
}

/* Efecto 3D al hacer clic */
.btn-menu-salir:active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Volver al efecto original */
  transform: translateY(0); /* Volver a la posición original */
}



[data-role="footer"] a {
  color: #000000;
}



[data-role="footer"] p {
  text-align: center;
}
div[data-role="header"].header {
  background-color: #2071E5;
  color: #000000;
  font-weight: bold;
}
div[data-role="footer"].header {
  background-color: #2071E5;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 480px) {
  .header img {
    width: 100%;
  }
}

.header h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .ui-content {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
